/* -------------------- GENERAL -------------------- */
*, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Hide scrollbar (horizontal and vertical) */
::-webkit-scrollbar { 
    display: none; 
}


/* -------------------- LANDING -------------------- */
#landing {
    background: transparent;
    color: #FFF;
    height: 100vh;
}

@media screen and (min-width: 600px) {
    #landing * {
        line-height: 36pt;
    }

    #landing .text {
        font-size: 32pt;
    }
    #landing .highlight {
        font-size: 36pt;
    }
}

@media screen and (max-width: 600px) {
    #landing * {
        line-height: 34pt;
    }

    #landing .text {
        font-size: 26pt;
    }
    #landing .highlight {
        font-size: 30pt;
    }
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 1;
}

.flex {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#arrow {
    background-image: url('../../media/arrow-down-white.svg');
    background-size: 3.25rem 1.9375rem;
    width: 3.25rem;
    height: 1.9375rem;
    position: absolute;
    bottom: 2rem;
    margin-left: -1.625rem;
}

.text {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 16pt;
    line-height: 20pt;
    z-index: 1;
    pointer-events: none;
}

.highlight {
    font-size: 18pt;
    color: #E31B6D; 
}

/* -------------------- SKILLS -------------------- */
@media (min-width: 1140px) {
    #skills {
        height: 100vh;
        background-color: #2c2c2c;
        display: flex;
        color: #FFF;
    }

    #frontend {
        width: 50%;
        height: 100%;
        background-color: #E31B6D;
    }

    #backend {
        width: 50%;
        height: 100%;
        background-color: #3c3c3c;
    }

    .patata {
        width: 90%!important;
        -webkit-transition: width 1.2s;
        transition: width 1.2s;
    }

    .center-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rotate {
        width: 10%!important;
        -webkit-transition: width 1.2s;
        transition: width 1.2s;
    }

    .rotate-ccw {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
    }
    
    .rotate-acw {
        writing-mode: tb-rl;
    }
}

@media (max-width: 1140px) {
    #skills {
        height: 100%;
        display: block;
        background-color: #2c2c2c;
    }
}


/* -------------------- TESTIMONIALS -------------------- */
#testimonials {
    background: #2c2c2c;
    text-align: center!important;
    color: #FFF;
}

@media (min-width: 1140px) {
    #testimonials {
        height: 100vh;
    }
}

.personal-card {
    display: block;
}

.personal-card img {
    max-width: 50%;
    margin: 0 auto;
    border-radius: 50%;
}

.personal-card a {
    color: rgb(95, 158, 160);
    text-decoration: none;
}

.personal-card a:hover {
    color: rgb(71, 116, 117);
    text-decoration: none;
}

/* -------------------- PROJECTS -------------------- */
#projects {
    background: #4C4C4C;
    text-align: center!important;
    color: #FFF;
    height: 100%;
}

/* -------------------- CONTACT -------------------- */
#contact {
    height: 100vh;
}

@media (min-width: 1140px) {
    #contact {
        height: 100vh;
    }

    .prueba {
        height: 100vh;
    }
}

@media (max-width: 1140px) {
    #contact {
        height: 100%;
        display: block;
        background-color: #344880;
    }

    .prueba {
        height: 0;
    }
}